<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue.js markdown editor example</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <!-- Delete ".min" for console warnings in development -->
    <script src="./vue.min.js"></script>
  </head>
  <body>

    <div id="editor">
      <button v-on:click="update">Compile</button><br/>
      <textarea v-model="input"></textarea>
      <div v-html="compiledMarkdown"></div>
    </div>

    <script>
      new Vue({
        el: '#editor',
        data: {
          input: 'x=1;',
          output: '{}'
        },
        computed: {
          compiledMarkdown: function () {
            var out = JSON.parse(this.output);
            var result = (out._worker ? `\{worker:${out._worker},` : '');
            result += (out._frontend ? `frontend:${out._frontend}\}` : '');
            delete out._worker;
            delete out._frontend;
            result += JSON.stringify(out);
            result = `\`\`\`javascript\n${result}\n\`\`\``;
            result = result.replace(/,/gi,'\n');
            result = result.replace(/{/gi,'\n');
            result = result.replace(/}/gi,'\n');
            result = result.replace(/"/gi,'');
            result = result.replace(/:/gi,': ');
            return marked(result, { sanitize: true })
          }
        },
        methods: {
          update: _.debounce(function (e) {
            var xhttp = new XMLHttpRequest();
            var tthis = this;
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                tthis.output = this.responseText;
              }
            };
            var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
            xhttp.open("POST", `${full}/run`, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify({code:this.input}));
          }, 300)
        }
      })
    </script>

  </body>
</html>
